/* FONTS */

@font-face {
  font-family: "AcuraBespoke-Light";
  src: url("../fonts/AcuraBespoke/AcuraBespoke/AcuraBespoke-Light.otf") format("truetype");
}

@font-face {
  font-family: "AcuraBespoke-Regular";
  src: url("../fonts/AcuraBespoke/AcuraBespoke/AcuraBespoke-Regular.otf") format("truetype");
}

@font-face {
  font-family: "AcuraBespoke-Bold";
  src: url("../fonts/AcuraBespoke/AcuraBespoke/AcuraBespoke-Bold.otf") format("truetype");
}

.acura-subhead,
.acura-header {
  text-transform: uppercase;
}

.acura-headline,
.acura-subhead {
  font-family: "AcuraBespoke-Light" !important;
}

.acura-header {
  font-family: "AcuraBespoke-Bold" !important;
  font-size: 1.5em;
}

#project-container {
  font-size: 16px;
}

#project-container p {
  font-size: 16px;
}

.acura-headline {
  color: #1e264e;
  font-size: 5em;
  line-height: 1.17;
  letter-spacing: 0.021em;
}

#h1-year {
  font-size: 2rem;
}

#h1-sub {
  font-family: "AcuraBespoke-Regular" !important;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  text-transform: none;
}




/* BUTTONS AND LINKS */
.acr-cta-r-trans-w {
  display: inline-block;
  border: 2px solid #1e264e;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #1e264e), color-stop(0, transparent));
  background: -webkit-linear-gradient(left, #1e264e 50%, transparent 0);
  background: -o-linear-gradient(left, #1e264e 50%, transparent 0);
  background: linear-gradient(to right, #1e264e 50%, transparent 0);
  background-position: right bottom;
  background-size: 200% 100%;
  padding: 1.4rem 3.1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .07rem;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  color: #1e264e;
  margin-bottom: 2rem;
}

.acr-cta-r-trans-w:hover {
  background-color: transparent;
  background-position: left bottom;
  border: 2px solid #1e264e;
  color: #fff;
}

.acura-btn-anchor,
.acura-btn-anchor:active {
  text-decoration: none;
}

.acura-btn-anchor:active,
.acura-btn-anchor:hover {
  outline: 0;
}

.callout-text,
.video-description {
  padding: 1.5rem;
}

#project-container .acura-link:link,
#project-container .acura-link:visited {
  border-bottom: 1px solid #e82c2a;
  color: #e82c2a;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#project-container .acura-link:hover,
#project-container .acura-link:active,
#project-container .acura-link:focus {
  border-bottom: 1px solid #005096;
  color: #005096;
}




/* SPACING */
#project-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#project-container section {
  margin-bottom: 2rem;
}




/* OTHER STYLES */
#h1-container {
  margin-left: 1rem;
  padding-top: 1rem;
}

.callout-text {
  border: 1px solid #000;
}






/* STYLED FORM */
#styled-form {
  background: #000;
  color: #fff;
  padding: 2rem 1rem;
}

#styled-form form {
  background: transparent;
}

#styled-form h2 {
  color: #fff;
  font-family: "AcuraBespoke-Light" !important;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

#styled-form label {
  color: #fff;
}

#styled-form input {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
}

#styled-form label[name=preferred] {
  display: inline-block;
  font-size: 9px;
  margin-right: 20px;
}

#styled-form textarea {
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

#styled-form input.button {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e82c2a), color-stop(0, transparent));
  background: -webkit-linear-gradient(left, #e82c2a 50%, transparent 0);
  background: -o-linear-gradient(left, #e82c2a 50%, transparent 0);
  background: linear-gradient(to right, #e82c2a 50%, transparent 0);
  background-position: right bottom;
  background-size: 200% 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .07rem;
  padding: 1.4rem 3.1rem;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
}

#styled-form input.button:hover,
#styled-form input.button:focus,
#styled-form input.button:active {
  background-color: transparent;
  background-position: left bottom;
  border: 2px solid #e82c2a;
  color: #fff;
}

#styled-form small {
  color: #fff;
  font-size: 9px;
}

#styled-form input[type=checkbox] {
  margin: 0;
}
/* END STYLED FORM */




/* Foundation Breakpoints */

/* Small only (below 640px) */
@media screen and (max-width: 39.9375em) {

  .dual-images-container,
  .callout-text {
    margin: 0 auto;
    max-width: 512px;
    width: 100%;
  }

}

/* Medium and up (above 640px) */
@media screen and (min-width: 40em) {

  #project-container section {
    margin-bottom: 6rem;
  }

  .dual-images-container,
  .callout-text {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
  }

  .dual-images-container {
    margin-bottom: 1rem;
  }

  #dual-1,
  #dual-2 {
    display: inline-block;
    height: 0;
    padding-bottom: 27.75%;
    width: 50%;
  }

  .video-description {
    padding-top: 0;
  }

  .video-text {
    border-left: 2px solid #e82c2a;
    padding-left: 1rem;
  }

}

/* Medium only (between 640px and 1024px) */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (above 1024px) */
@media screen and (min-width: 64em) {

  #project-container .row {
    max-width: 1440px;
  }

  #project-container {
    font-size: 16px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }

  .acura-headline {
    color: #fff;
  }

  #h1-year {
    font-family: "AcuraBespoke-Regular" !important;
  }

  .acr-cta-r-trans-w {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e82c2a), color-stop(0, transparent));
    background: -webkit-linear-gradient(left, #e82c2a 50%, transparent 0);
    background: -o-linear-gradient(left, #e82c2a 50%, transparent 0);
    background: linear-gradient(to right, #e82c2a 50%, transparent 0);
    background-position: right bottom;
    background-size: 200% 100%;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .07rem;
    margin-bottom: 0;
    padding: 1.4rem 3.1rem;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .acr-cta-r-trans-w:hover {
    background-color: transparent;
    background-position: left bottom;
    border: 2px solid #e82c2a;
    color: #fff;
  }

  .video-description {
    position: relative;
    height: 0;
    padding-bottom: 50%;
    width: 100%;
  }

  .video-text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  #styled-form {
    background: rgba(0,0,0,0.85);
    border-radius: 7px;
    color: #fff;
    padding: 2rem 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 46%;
  }

  .styled-form-left {
    left: 3%;
  }

  .styled-form-right {
    right: 3%;
  }

  #styled-form form {
    background: transparent;
  }

}

/* (between 1024px and 1440px) */
@media screen and (min-width: 1024px) and (max-width: 1440px) {

  #project-container #contact-section {
    margin-bottom: -1px;
  }

}