/* FONTS */

@font-face {
  font-family: "AcuraBespoke-Light";
  src: url("../fonts/AcuraBespoke/AcuraBespoke/AcuraBespoke-Light.otf") format("truetype");
}

@font-face {
  font-family: "AcuraBespoke-Regular";
  src: url("../fonts/AcuraBespoke/AcuraBespoke/AcuraBespoke-Regular.otf") format("truetype");
}

@font-face {
  font-family: "AcuraBespoke-Bold";
  src: url("../fonts/AcuraBespoke/AcuraBespoke/AcuraBespoke-Bold.otf") format("truetype");
}

.intro-text-box {
  border: 2px solid #1e264e;
  padding: 1rem 1.5rem;
}

.acura-subhead,
.acura-header {
  text-transform: uppercase;
}

.acura-headline,
.acura-subhead {
  color: #1e264e;
  font-family: "AcuraBespoke-Light" !important;
}

.acura-header {
  font-family: "AcuraBespoke-Bold" !important;
  font-size: 1.5em;
}

.acura-body-copy,
#project-container p {
  color: #1e264e;
  font-family: "AcuraBespoke-Regular" !important;
  font-size: 1rem;
  text-transform: none;
}

#h1-container {
  margin-top: 1rem;
}

#project-container h1 {
  font-size: 2rem;
}

#project-container h2 {
  font-size: 1.25em;
}


/* LINKS */
#project-container .acura-link:link,
#project-container .acura-link:visited {
  border-bottom: 1px solid #e82c2a;
  color: #e82c2a;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#project-container .acura-link:hover,
#project-container .acura-link:active,
#project-container .acura-link:focus {
  border-bottom: 1px solid #005096;
  color: #005096;
}




/* SPACING */
#project-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#project-container section {
  margin-bottom: 2rem;
}

#hub-section .card {
  -webkit-box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, .2);
          box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, .2);
  margin-bottom: 2rem;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#hub-section .card:hover {
  -webkit-box-shadow: 14px 14px 13px 2px rgba(0, 0, 0, .15);
          box-shadow: 14px 14px 13px 2px rgba(0, 0, 0, .15);
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.card-image {
  height: auto;
  width: 100%;
}

.card-title {
  background: #000;
  text-align: center;
}

.card-title h2 {
  color: #fff;
  font-family: "AcuraBespoke-Light" !important;
  margin: 0;
  padding: 0.5rem 0 0.75rem 0;
}




/* Foundation Breakpoints */

/* Small only (below 640px) */
@media screen and (max-width: 39.9375em) {}

/* Medium and up (above 640px) */
@media screen and (min-width: 40em) {

  #project-container section {
    margin-bottom: 3rem;
  }

  #h1-container {
    padding-top: 2rem;
  }

}

/* Medium only (between 640px and 1024px) */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up (above 1024px) */
@media screen and (min-width: 64em) {

  #project-container .row {
    max-width: 1440px;
  }

  #project-container section {
    margin-bottom: 4rem;
  }

  .intro-text-box {
    padding: 1rem 3rem;
  }

}

/* Large only (between 1024px and 1200px) */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}