.name,
.name a {
  width: 150px;
}

.name {
  position: relative;
}

.name a {
  font-weight: bold;
  left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.name a:hover {
  color: #fff;
}

.fa-chevron-left {
  margin-right: 5%;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-weight: bold;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #e6231e;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #222;
}




/* Medium and up (above 640px) */
@media screen and (min-width: 640px) {}

/* Large and up (above 1024px) */
@media screen and (min-width: 1024px) {

  .top-bar {
    background: #fff;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }

  .name a {
    color: #e6231e;
  }

  .name a:hover {
    color: #000;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
    color: #000;
  }

  .top-bar-section .has-dropdown > a::after {
    border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
  }

  .top-bar-section .has-dropdown:hover > a::after {
    border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
  }

}